<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to t('.all_tests'), admin_tests_path, class: 'nav-link' %>
      </li>
    </ul>
    <% if signed_in? %>
      <p><%= t('.welcome_in', name: current_user.first_name) %> <%= link_to 'Guru', root_path %> | <%= link_to t('exit'), destroy_user_session_path, method: :delete %></p>
    <% else %>
      <%= link_to t('sign_up'), new_user_registration_path %> |
      <%= link_to t('login'), new_user_session_path %>
    <% end %>
  </div>
</nav>
