<h2><%= t('.header', body: @answer.question.body) %></h2>

<p>
  <%= t('.answer') %>: <%= @answer.body %>
</p>

<p>
  <%= t('.correct') %>: <%= @answer.correct %>
</p>

<%= link_to t('edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('back'), admin_question_path(@answer.question) %>
