<h1><%= @question.test.title %> Questions</h1>

<p>
  <%= @question.body %>
</p>

<h2>Ответы</h2>

<%= link_to 'Новый ответ', new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Редактировать', edit_admin_question_path(@question) %>
<%= link_to 'Назад', admin_test_path(@question.test) %>
