<tr>
  <td><h3><%= "Тест #{test.title}(#{test.questions.count})" %></h3></td>
  <td><%= test.author.full_name %></td>
  <td><%= link_to 'Посмотреть', admin_test_path(test) %></td>
  <td><%= link_to 'Редактировать', edit_admin_test_path(test) %></td>
  <td><%= link_to 'Удалить', admin_test_path(test), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
