<tr>
  <td><h3><%= t('.test_title', title: test.title) %></h3></td>
  <td><%= test.questions.count %></td>
  <td><%= test.author.full_name %></td>
  <td><%= link_to t('show'), admin_test_path(test) %></td>
  <td><%= link_to t('edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('delete'), admin_test_path(test), method: :delete, data: { confirm: t('sure?') } %></td>
</tr>
