<h2><%= t('.header', title: @test.title, count_q: @test.questions.count) %></h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<table>
  <tr>
    <th><%= t('.question') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  <%= render @test.questions %>
</table>
<%= link_to t('back'), admin_tests_path %>

