<h1><%= t('.all_tests') %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.test') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
