<h1><%= t('.all_tests') %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('.test') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>
