<%= link_to 'Все тесты', tests_path %> <br>

<% if signed_in? %>
  <p>Добро пожаловать <%= current_user.first_name %> в <%= link_to 'Guru', root_path %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %></p>
<% else %>
  <%= link_to 'Регистрация' , new_user_registration_path %> |
  <%= link_to 'Войти', new_user_session_path %>
<% end %>
